<footer class="main-footer position-sticky bottom-0">
    <strong>Copyright &copy; 2019-2029 <a
            href="https://www.onlineexamsim.com/project/tnagele-sidebar-fancy-responsive-sidebar/" target="_blank">TNAGELE
            SIDEBAR</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 01.00
    </div>
</footer>
<div id="sidebar-overlay"></div>