@import '~bootstrap';
@import "~@fontsource/montserrat/400.css";
@import "~@fontsource/montserrat/700.css";
@import "~@fontsource/montserrat/900.css";

.form-control, body {
    font-size: .9rem!important;
}

body {
    background-color: #f4f4f4!important;
    color: #787d82;
    font-family: Montserrat,Serif!important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu[data-bs-popper] {
    left: unset !important;
}

h1,h2,h3,h4,h5,h6 {
    color: #555a5f;
    font-weight: 700;
}

p {
    color: #787d82;
}

a {
    color: #54565a !important;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

.hidden_msg {
    font-size: 10px;
    color: #aa1111;
    font-style: italic;
    display: none;
    margin-top: 5px;
}

.hidden {
    display: none;
}

.accordion .collapsed > i:before {
    content: "\f0fe" ;
}

.accordion :not(.collapsed) > i:before {
    content: "\f146" ;
}

.add-height {
    height:1000px;
}


.colorbox {
    padding: .9rem 2rem;
    margin: 2px;
    border: 1px solid #000000;
}


.switch {
    font-size: 1rem;
    position: relative;
}
.switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}
.switch input + label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}



.switch:not(.rtl) input + label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
}
.switch:not(.rtl) input + label::after {
    content: '';
    position: absolute;

    left: 2px;


    display: block;
}

.switch.rtl input + label::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
}


.switch.rtl input + label::after {
    content: '';
    position: absolute;
    right: 2px;
    display: block;
}
.switch input + label::before {
    right: 0;
    background-color: #4fb546;
    border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
}
.switch input + label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
}
.switch input:checked + label::before {
    background-color: #08d;
}

.switch.rtl input:checked + label::after {
    margin-right: calc(2.375rem * .8);
}
.switch:not(.rtl) input:checked + label::after {
    margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
    color: #868e96;
    cursor: not-allowed;
}
.switch input:disabled + label::before {
    background-color: #e9ecef;
}
.switch.switch-sm {
    font-size: 0.875rem;
}
.switch.switch-sm input + label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
    width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
    margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
    font-size: 1.25rem;
}
.switch.switch-lg input + label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
    width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
    margin-left: calc(3rem * .8);
}
.switch + .switch {
    margin-left: 1rem;
}

.text-primary {
    color: #54565a !important;
}

.text-secondary {
    color: #b3b4b2 !important;
}

.text-info {
    color: #91cfdb !important;
}

.bg-primary, .btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:active, .show>.btn-primary.dropdown-toggle,
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active {
    background: #54565a;
}

.btn-primary:hover {
    background: #b3b4b2 !important;
    border-color: #b3b4b2 !important;
}

.btn-primary:disabled {
    color: #414d54;
    background-color: #b3b4b2;
    border-color: #b3b4b2;
}

.btn-primary {
    background: #54565a;
    border-color: #54565a;
    color: #fff;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    box-shadow: none;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-disabled, .btn-disabled:hover {
    color: #fff;
    background-color: #ccc !important;
    border-color: #ccc !important;
}

.bg-disabled {
    background: #e9ecef !important;
    color: #565e64 !important;
    border: solid 1px #ced4da !important;
}

.text-disabled {
    color: #ccc !important;
}

.bg-dropdown {
    background: #fff !important;
    color: #565e64 !important;
    border: solid 1px #ced4da !important;
    border-radius: 0.375rem;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
    z-index: 9999;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.row-hover, .admin-row:hover {
    background: #f8f9fa !important;
    color: #434343 !important;
}

.border-left {
    border-left: 1px solid #e2e7eb;
}

.border-sm-left-0 {
    border-left: none;
}

.border-right {
    border-right: 1px solid #e2e7eb;
}

.border-sm-right-0 {
    border-right: none;
}

.border-top {
    border-top: 1px solid #e2e7eb !important;
}

.border-md-top-0 {
    border-top: 1px solid #e2e7eb !important;
}

.border-bottom {
    border-bottom: 1px solid #e2e7eb;
}

.border-sm-bottom-0 {
    border-bottom: none;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #e2e7eb !important;
}

.border-top-dashed {
    border-top: 1px dashed #e2e7eb !important;
}

.border-dark {
    border-color: #e6e6e6 !important;
}

.border-xy {
    border: 1px solid #e2e7eb;
}

.delete-icon {
    color: #f00000 !important;
    margin-right: 24px;
}

.edit-icon {
    margin-right: 16px;
}

.spanner{
    position:absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display:block;
    text-align:center;
    height: 300px;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: hidden;
    z-index: 9999999999;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    z-index: 99999999;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

.spanner, .overlay{
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.spanner.show, .overlay.show {
    opacity: 1
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.show{
    visibility: visible;
}
