{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="content-wrapper p-5">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function()
        {
            let height = $('.brand-link').height();
            $('.main-header').css({'height': height + 1});
        });

    </script>
{% endblock %}
